@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(to right, white , black);
}

.cabecalho{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;

}

.cabecalho-imagem{
    height: 60px;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
}

.cabecalho-menu-item{
    font-family: 'Baskervville', serif;
    color: 	#FFF0F5;
    font-weight: 400;
}

.conteudo{
    border-top:0.4px solid #FFF0F5;
    margin-bottom: 48px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    color: 	#2F4F4F;
    font-weight: 400;
    font-size: 40px;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Righteous', cursive;
    color: 	#2F4F4F;
    font-weight: 400;
    font-size: 20px;
}

.conteudo-principal-escrito-botao{
    background-color: #2F4F4F;
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 30px;
    font-family: 'Baskervville', serif;
    color: 	white;
    font-weight: 400;
    font-size: 18px;
}

.conteudo-principal-imagem{
    height: 430px;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;

}

.conteudo-secundario-escrito-titulo{
    border-top: 0.4px solid #FFF0F5;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    color: 	#2F4F4F;
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 16px;

}

.conteudo-secundario-escrito-paragrafo{
    font-family: 'Baskervville', sans-serif;
    color: 	#2F4F4F;
    font-weight: 300;
    font-size: 26px;
}

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    padding: 32px;
    border-top: 0.4px solid #FFF0F5;
}

.rodape-imagem{
    display:flex;
    align-items: center;
    gap: 50px;  
    
}

.rodape-imagem1{
    height: 100px;
    width: auto;
}

.rodape-imagem2{
    height: 100px;
    width: auto;
}

.rodape-imagem3{
    height: 100px;
    width: auto;
}

.rodape-imagem4{
    height: 100px;
    width: auto;
}

.rodape-imagem5{
    height: 100px;
    width: auto;
}

.rodape-imagem6{
    height: 100px;
    width: auto;
}